* {
    box-sizing: border-box;
    margin: 0px;
}
body,html{
    background-color: #dac99e;
    height: 100%;
}
header{
    user-select: none;
    background-color: #42332c;
    height: 18%;
    padding: 1em 2em;
    color: #f3f3f1;
    text-align: center;
}
.navbar{
    height: 2%;
    color:#f3f3f1;
    user-select: none;
    background-color: #D38C00;
}
main{
    display: block;
    height: 70%;
    overflow:scroll;
}
footer{
    background-color: #040100;
    color:#f3f3f1;
    height: 10%;
    text-align: center;
}
header div{
    float: left;
    aspect-ratio: 1/1;
    height: 120px;
    border-style: dashed;
    border-radius: 50%;
    border-width: .5em;
    border-color: #dac99e;
    overflow: hidden;
}
header h1{
    display: inline-block;
    width:70%;
    position: relative;
    transform: translateY(50%);
}

@media (max-width: 550px) {
    header{
        height: 10%;
    }
    header h1{
        font-size: large;
        transform: none;
    }
    header div{
        height: 100%;
    }
    main{
        height: 80%;
    }
    figure img{
        width: 50%;
    }
}
.headerImg {
    height: 200%;
    object-fit:cover;
    margin: -50%;
}
.clear{
    display: block;
    clear: both;
}
.navbar ul li{
    display: inline-block;
    padding: 0px 1em;
    border-left: 6px solid #42332c
}
.navbar ul li a:visited{
    color: #dac99e;
}
.navbar ul {
    list-style-image: url('https://interactive-examples.mdn.mozilla.net/media/examples/rocket.svg');
    border-left: 1em white;
}
section div{
    color: #040100;
    margin-left: 1em;
    margin-top: 1em;
}
section{
    margin-top: 2em;
    margin-left: 1em;
    color: #040100;
    height: min-content;
    max-height: 80%;
    overflow: scroll;
}
.left{
    float: left;
}
.right{
    float: right;
}
figure img{
    border-style: dashed;
    border-color: #42332c;
    margin-right: 1em;
}
.clearer{
    display: block;
    content: "After container";
    clear:both;
}
.full{
    margin: 0px;
}
.marginR{
    margin-right: 1em;
}
.rounded{
    border-radius: 1em;
}
.sepia{
    background-color: #673C11;
    color:#f3f3f1;
}
.height30{
    height: 30vh;
}
.width30{
    width: 30vw;
}
.widthMiddle{
    width: 50%;
}
.convinedExample{
    box-sizing: border-box;
    background-color: #673C11;
    color:#f3f3f1;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    height: 10vh;
    text-align: center;
    padding: 2%;
}
.scroll{
    overflow:scroll;
}

/*https://css-tricks.com/all-about-floats/ */
.container::after{
    content: "."; 
    visibility: hidden;
    display: block; 
    height: 0; 
    clear: both;
}

.triada{
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    height: 10vh;
    text-align: center;
    padding: 2%;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label{
    padding-left: 1em;
    display: inline-block;
    cursor:pointer;
    color: #f3f3f1;
    width: 100%;
    background-color: #D38C00;
}

label::before{
    content: "\276F";
    float: right;
    line-height: 2em;
    font-weight: bolder;
    margin-right: 1em;
    transition: all 2s;
}
input:checked + label{
    background-color: #42332c;
}
label:hover,input:checked + label:hover{
    background-color: #673C11;
}
input+ label ~ div{
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition:all 1s;
}
input:checked + label ~ div{
    display: block;
    height: auto;
    opacity: 1;
}
input:checked + label::before{
    transform: rotate(90deg);
}