* {
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: #dac99e;
    height: 100%;
}
header{
    user-select: none;
    background-color: #42332c;
    height: 20%;
    padding: 1em 2em;
    color: #f3f3f1;
    text-align: center;
}

footer{
    background-color: #040100;
    color:#f3f3f1;
    height: auto;
    text-align: center;
}
header div{
    float: left;
    aspect-ratio: 1/1;
    height: 120px;
    border-style: dashed;
    border-radius: 50%;
    border-width: .5em;
    border-color: #dac99e;
    overflow: hidden;
}
header h1{
    display: inline-block;
    width:70%;
    position: relative;
    transform: translateY(50%);
}
@media (max-width: 550px) {
    header{
        height: 7.5%;
    }
    header h1{
        font-size: large;
    }
    header div{
        height: 80px;
    }
}
.headerImg {
    height: 200%;
    object-fit:cover;
    margin: -50%;
}
.clear{
    display: block;
    clear: both;
}
nav{
    height: 10%;
    color:#f3f3f1;
    user-select: none;
    background-color: #D38C00;
}
nav ul li{
    display: inline-block;
    padding: 0px 1em;
    border-left: 6px solid #42332c
}
nav ul li a:visited{
    color: #dac99e;
}
nav ul {
    list-style-image: url('https://interactive-examples.mdn.mozilla.net/media/examples/rocket.svg');
    border-left: 1em white;
}
main{
    overflow:scroll;
    height: 86vh;
}
section div{
    color: #040100;
    margin-left: 1em;
    margin-top: 1em;
}
section{
    margin-top: 2em;
    margin-left: 1em;
    color: #040100;
}
.left{
    float: left;
}
.right{
    float: right;
}
figure img{
    border-style: dashed;
    border-color: #42332c;
    margin-right: 1em;
}
.clearer{
    display: block;
    content: "After container";
    clear:both;
}
.full{
    margin: 0px;
}
.marginR{
    margin-right: 1em;
}
.rounded{
    border-radius: 1em;
}
.sepia{
    background-color: #673C11;
    color:#f3f3f1;
}
.height30{
    height: 30vh;
}
.width30{
    width: 30vw;
}
.widthMiddle{
    width: 50%;
}
.convinedExample{
    box-sizing: border-box;
    background-color: #673C11;
    color:#f3f3f1;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    height: 10vh;
    text-align: center;
    padding: 2%;
}
.scroll{
    overflow:scroll;
}

/*https://css-tricks.com/all-about-floats/ */
.container::after{
    content: "."; 
    visibility: hidden;
    display: block; 
    height: 0; 
    clear: both;
}

.triada{
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    height: 10vh;
    text-align: center;
    padding: 2%;
}