code{
    color: rgb(53, 53, 47);
}
.comment{
    color:green;
    display: inline;
}
table{
    width: 100%;
    border-radius: 1em;
}

thead{
    background-color: rgb(112, 86, 155);
    color: aliceblue;
    text-align: center;
}
tbody{
    background-color: rgb(195, 181, 240);
}
td{
    border-radius: 0.5em;
    width: 50%;
    align-items: center;
}
.three{
    width: 33%;
}
td p{
    text-align: center; 
}
td code{
    display: block;
    padding: 1em;
    margin: auto;
    width: fit-content;
    align-self: center;
}
.codeLine{
    background-color: rgb(195, 181, 240);
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
}
.codeContainer{
    background-color: rgb(195, 181, 240);
    width: fit-content;
    padding: 1%;
    border-radius: 10%;
}
figure{
    width: min-content;
}
figcaption{
    text-align: center;
}
.box{
    background-color: rgb(195, 181, 240);
    width: 100%;
    text-align: center;
    border-radius: 5em;    
}
.innerBox{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.boxHead{
    text-align: center;
    background-color: rgb(112, 86, 155);
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 3em;
    color: aliceblue;
    
}
.boxBody{
    text-align: left;
}
tr td{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.lineAns{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: rgb(195, 181, 240);
}
pre{
    background-color:rgb(195, 181, 240);
    border-radius: 2em;
    padding: 1em;
    margin: 0 auto;
    width: fit-content;
    display: inline-block;
}
.hljs-annotation{
    color: rgb(34, 139, 139);
}
.hljs-function{
    color: rgb(85, 41, 228)
}
.hljs-keyword{
    font-weight:bold;
    color: rgb(184, 41, 228)
}
.hljs-title{
    font-style: italic;
    font-weight: bolder;
}
.hljs-params{
    color:rgb(33, 78, 223);
}
.hljs-string{
    color:rgb(76, 112, 3);
}
.mBox{
    display: inline;
    margin: 2em;
}
.center{
    width: fit-content;
    margin: 0 auto;
}
.vBox{
    display: inline-grid;
    margin: 0 2em;
    vertical-align: top;
}
.vBox div{
    margin: 0 auto;
    width: min-content;
}
.code-caption{
    margin: 0 auto;
}
.code-caption pre{
    margin-top: 1em;
    margin-bottom: 0em;
    display: block;
    
}
.code-caption p{
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.fixClear::after{
    content: ".";
    visibility: hidden;
    display: block;
    clear:both;
}
.center figure{
    display: inline-block;
    vertical-align: top;
}
blockquote {
    background: #d8d0f1;
    border-left: 10px solid rgb(85, 41, 228);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
.clear{
    clear: both;
}