body{
    background-color: #b3b3b3;
    font-size: 150%;
    margin: 4%;
}
header{
    text-align: center;
    padding: 15px;
}
header,footer{
    background-color: #666;
    background-image: linear-gradient(#666 0%,#00B7ea);
}
h1{
    color: #fff;
}
.half{
    vertical-align: text-top;
    display: inline-block;
    width: 45%;
    margin-right: 2%;
}
nav{
    font-variant: small-caps;
    font-family: Arial,'Times New Roman', serif;
}
nav a{
    display: inline-block;
    width: 22%;
    background-color: #fff;
}
h2{
    color:#666;
    background-color: #00B7ea;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}
footer{
    clear: both;
}
img{
    width: 125px;
}
.three{
    display: inline-block;
    width: 30%;
    margin: 1% 1%;
    text-align: center;
    background-image: radial-gradient(#666,#00B7ea);
}
.op80{
    opacity: .8;
}
.op40{
    opacity: .4;
}
.op20{
    opacity: .2;
}
.opacityImage{
    display: block;
    opacity: .30;
    height: 150px;
    width: auto;
    margin: 1% auto;
}
figcaption{
    text-align: center;
}