* {
    background-color: blanchedalmond;
    color: black;
}
@media screen and (min-width: 200px) {
    *{
        background-color: aqua;
    }
}
@media screen and (min-width: 700px) {
    *{
        background-color:burlywood;
    }
}

@media screen and (min-width: 1200px) {
    *{
        background-color:black;
        color:blanchedalmond;
    }
}